*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


main{
    display: none;
}

.loaderDiv{
    display: flex;
    z-index: 1000;
}


@font-face {
    font-family: 'Aladini';
    src: url('./font/aladini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

body{
    background-color: beige;
    font-family: 'Aladini', sans-serif;
    color: #bb9d43;
}

.loaderDiv{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    color: #e199a6;
    font-size: 18px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
    background: transparent;
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
            2em -2em 0 0em, 3em 0 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
            3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em,
            2em -2em 0 0, 3em 0 0 0.2em,
            2em 2em 0 0, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
            -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
            -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
            -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}



.infoSection, .infoSection2, .infoSection3 {
    visibility: hidden !important;
    display: none !important;
}

.thanksCard, .sorryCard{
    display: none;
    flex-direction: column;
    background-image: url(./images/card.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;
    top: 5%;
    left: 0;
    /* transform: translate(-50%, -50%); */
    animation: bounce-in-top 1.5s both;
}

.thanksCardInner, .sorryCardInner{
    margin-top: -5rem;
}

.thanksCard img, .sorryCardInner img {
    width: 25rem;
}


@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

.pauseButton, .playButton{
    display: none;
    position: absolute;
    /* visibility: hidden; */
    cursor: pointer;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}

.pauseButton img, .playButton img{
    cursor: pointer;
    width: 1.5rem;
}



/* WELCOME SECTION */

.welcomeSection{
    background-image: url(./images/border-full.png);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80rem;
    margin-top: -10rem;
}

.mainContent{
    padding-top: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sunImgDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        
}



.sunStar1{
    margin-right: -4rem;
    animation: floatUpDown 5s ease-in-out infinite;
}
.sunStar2{
    margin-left: -4rem;
    animation: floatUpDown 5.5s ease-in-out infinite;
}

.sunStar{
    width: 10rem;
}

.sunImg{
    width: 15rem;
    animation: floatUpDown 6s ease-in-out infinite;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* adjust height of movement */
    }
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCandleDiv{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: -2rem;
}

.candle{
    width: 5.5rem;
}

.candle1{
    transform: scaleX(-1);
}

.invitationH1Div{
    display: flex;
    justify-content: center;
}

.invitationH1{
    font-size: 2.1rem;
}

.invitationDiv{
    display: flex;
    justify-content: center;
}

.invitationImg{
    width: 32rem;
}

.buttonsDiv{
    display: flex;
    justify-content: center;
    gap: 12rem;
    margin-top: -6rem;
}

.buttonsDiv img{
    width: 13rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buttonsDiv img:active {
    transform: scale(1.5);
}



.buttonYesLink{
    margin-right : -4rem;
}
.buttonNoLink{
    margin-left : -4rem;
}

/* END OF WELCOME SECTION */

/* INFO SECTION */

.infoSection{
    background-image: url(./images/border-full-rotated.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -10rem;
}

.infoMainContent{
    margin-left: 5rem;
    
}
.scheduleH1{
    font-size: 3.3rem;
}

.scheduleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
    overflow-y: visible;
    
}

.innerDiv{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scheduleImg {
    max-width: 25rem;
}


.scheduleH2Div{
    text-align: center;
    margin-top: 0rem;
}

.locationDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    cursor: pointer; 
}




.scheduleH3{
    text-align: center;
    text-wrap: nowrap;
}

.pinLogoDiv{
    display: flex;
    align-items: center;
}

.pinLogo{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -0.2rem;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* info content 2 */

/* Info Section 2 */

.infoSection2 {
    background-image: url(./images/border-full-rotated.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55rem;
    
}

.mainContentInfo {
    /* margin-top: -10rem; */
    display: flex;
    padding-top: 0rem;
    padding-left: 10rem;
    gap: 2rem;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}
    

.infoImg {
    width: 20rem;
    
}

.infoTextDiv {
    max-width: 27rem;

}


.infoTextDiv h2 {
    font-size: 1.4rem;
}

.textAndSeparator {
    display: flex;
    flex-direction: row;
    margin-left: -4rem;
}



.separator1 {
    max-width: none;
    max-height: none;
    height: 100%;
    margin-left: -2.5rem;
}

.separator2 {
    max-width: none;
    max-height: 4rem;
    width: 60%;
    margin-left: -2rem;
    margin-top: -1rem;
    margin-bottom: -1.5rem;
}

/* thanks section */

.cakeFlowersImgMobile{
    display:None;
}
.cakeFlowersImgDesktop{
    display:flex;
}

.infoSection3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    background-size: 100% 85%;
}

.thanksDivParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}

.thanksTextDivParent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -3rem;
}

.thanksTextDiv h2 {
    text-align: center;
    font-size: 1.7rem;
}

.danceImg{
    width: 25rem;
}


.cakeImgDiv {
    margin-top: -3rem;
}

.cakeFlowersImgDesktop{
    width: 40rem;
    margin-top: -3rem;
}


/* scroll animation */

[data-aos="slide-in-bottom"] {
    opacity: 0;
    /* hidden before scroll */
    transition-property: opacity, transform;
}

[data-aos="slide-in-bottom"].aos-animate {
    animation: slide-in-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* media queries */

@media (max-width: 450px) {

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    .pauseButton, .playButton {
        top: 3%
    }


    /* welcome section */

    .welcomeSection{
        height: 50rem;
        background-position-y: 0;
        background-size: 100% 85%;
        margin-top: unset;
    }

    .mainContent{
        padding-top: 6rem;
    }

    .titleCandleDiv{
        gap: 0.5rem;
    }
    .titleCandleDiv h1 , .candleDiv {
        margin-top: 1.5rem;
    }

    .invitationH1{
        font-size: 1.3rem;
    }

    .sunImgDiv img{
        width: 9.5rem;
        
    }
    .candleDiv img{
        width: 3rem;
    }

    .invitationDiv img{
        width: 18.5rem;
    }

    .buttonsDiv{
        gap: 10.5rem;
        margin-top: -3rem
    }


    .buttonsDiv .buttonYesLink img,.buttonsDiv .buttonNoLink img {
        width: 6.5rem;
    }

    /* END of welcome section*/

    /* info section */

    .infoSection{
    background-image: url(./images/border-full.png);
    background-size: 100% 75%;
    background-position: unset;
    /* background-position-y: -1rem; */
    background-repeat: no-repeat;
    height: 65rem;

    margin-top: -15rem;

}

    .infoMainContent{
    margin-top: -20rem;
    margin-left: 0;
}
.scheduleH1{
    font-size: 2.5rem;
    margin: -1rem 0 2rem ;
}



.scheduleImg{
    max-width: 9rem;
}

.innerDiv{
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 0rem;
}

.weddingDiv{
    flex-direction: row-reverse;
    justify-content: right;
    padding-right: 2rem;
}

.scheduleTimeDiv{
    display: flex;
    flex-direction: column;
}
.scheduleDiv{
    flex-direction: column;
    margin-left: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
}

.weddingCeremonyDiv{
    margin-left: 2rem;
}

.dinnerCeremonyDiv{
    margin-left: 1.5rem;
}



.scheduleH2Div{
    text-align: center;
    margin-left: -1rem;
}

.scheduleH2Div h2 {
    font-size: 1.3rem;
}

.dinnerCeremonyDiv {
    margin-left: 3.5rem;
}

.locationDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
    margin-top: 1rem;
    margin-left: -1rem;
}
.dinnerDiv{
    margin-right: -2rem;
}

.scheduleH3{
    text-align: center;
    text-wrap: wrap;
    font-size: 0.8rem;
}

.pinLogoDiv{
    display: flex;
    flex-direction: row;
}

.pinLogo{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.1rem;
}

/* END OF INFO SESCTION */

/* Info Section 2 */

.infoSection2{
    background-image: url(./images/border-full.png);
    background-size: 100% 82%;
    display: flex;
    padding-bottom: 15rem;
    margin-top: -24rem;
}

.mainContentInfo{
    margin-top: 4rem;
    display: flex;
    padding-left: 0rem;
    gap: 0;

}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.columnRight{
    margin-left: -1.5rem;
}

.infoImg {
    width: 10rem;
}

.column .infoTextDiv {
    max-width: 8rem;
    text-align: center;
    margin-left: -1.5rem;
}

.infoTextDiv2{
    margin-bottom: -0.5rem;
}


.infoTextDiv h2 {
    font-size: 0.85rem;
}

.timeDelayH2{
    margin-left: 0.2rem;
}

.dressCodeImgDiv{
    margin-left: -2rem;
}

.textAndSeparator{
    display: flex;
    flex-direction: row;    
}

.infoTextDiv1{
    margin-top: -0.65rem;
    margin-right: -2rem;
}

.separator1{
    max-width: 3rem;
    max-height: 8rem;
    margin-left: 3rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.separator2{
    max-width: 8rem;
    margin-left: -2rem;
    margin-top: 0rem;
    margin-bottom: -1.5rem;
    width: unset;
}

/* thanks section */
.infoSection3{
    height: 37rem;
}

.cakeFlowersImgDesktop{
    display: None;
}
.cakeFlowersImgMobile{
    display: flex;
}

.infoSection3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    margin-top: -17rem;
}

.thanksDivParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
}

.thanksTextDivParent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -2rem;
}

.thanksTextDiv h2{
    text-align: center;
    font-size: 0.8rem;
}

.thanksImgDiv img{
    width: 19.5rem;
}

.cakeImgDiv{
    margin-top: -3rem;
}

        /* thanks card */
    
        .thanksCard, .sorryCard {
    
            /* width: 100%;
            height: 100%; */
            /* border-radius: 15%; */
            /* position: absolute; */
            top: -8rem;
            left: 0%;
            background-size: 100%;
        }
    
.thanksCardInner, .sorryCardInner{
    margin-bottom: -4rem;
}

.thanksCardInner img, .sorryCardInner img{
    width: 7rem;
    margin-bottom: -2rem;
}


.thanksCardInner h1, .sorryCardInner h1{
    font-size: 1.5rem;
    width: 9rem;
}
.sorryCardInner h1 {
 width: 16rem;
 margin-top: 1rem;
}

}



@media (min-width: 950px) {
.welcomeSection{
    background-size: 75%;
}

.thanksCardInner img,
.sorryCardInner img {
    width: 12rem;
}

}



@media (min-width: 1050px) {
.welcomeSection{
    background-size: 65%;
}

.cakeFlowersImgDesktop{
    width: 50rem;
}

.thanksCardInner, .sorryCardInner{
    margin-bottom: -3rem;
}

.thanksCardInner img, .sorryCardInner img {
    width: 12rem;
    margin-bottom: -2.5rem;
}

.thanksCardInner h1, .sorryCardInner h1 {
    font-size: 2.5rem;
    width: 18rem;
}

}
@media (min-width: 1250px) {
.welcomeSection{
    background-size: 55%;
}

.infoSection3{
    background-size: 100%;
}

.cakeFlowersImgDesktop {
    width: 60rem;
}

.thanksCardInner img, .sorryCardInner img {
    width: 18rem;
    margin-bottom: -2rem;
}

.thanksCardInner h1, .sorryCardInner h1{
    font-size: 2.5rem;
    width: 25rem;
}


}
@media (min-width: 1450px) {
.welcomeSection{
    background-size: 45%;
}

/* .infoSection2 {
    background-size: 100% 100%;
    height: 100rem;
} */

.infoSection3 {
    background-size: 85% 85%;
}

.thanksCardInner img, .sorryCardInner img{
    width: 25rem;
}



}
@media (min-width: 1700px) {
.welcomeSection{
    background-size: 36%;
}




}