*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}




@font-face {
    font-family: 'Aladini';
    src: url('./font/aladini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

body{
    background-color: beige;
    font-family: 'Aladini', sans-serif;
    color: #bb9d43;
}

/* WELCOME SECTION */

.welcomeSection{
    background-image: url(./images/border-full.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80rem;
}

.mainContent{
    padding-top: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sunImgDiv{
        display: flex;
        justify-content: center;
        align-items: center;
}
.sunImg{
    width: 25rem;
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCandleDiv{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: -2rem;
}

.candle{
    width: 5.5rem;
}

.candle1{
    transform: scaleX(-1);
}

.invitationH1Div{
    display: flex;
    justify-content: center;
}

.invitationH1{
    font-size: 2.1rem;
}

.invitationDiv{
    display: flex;
    justify-content: center;
}

.invitationImg{
    width: 37rem;
}

.buttonsDiv{
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: -2rem;
}

/* END OF WELCOME SECTION */

/* INFO SECTION */

.infoSection{
    background-image: url(./images/border-full-rotated.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60rem;
}

.infoMainContent{
    padding-top: 6rem;
    margin-left: 4rem;
}
.scheduleH1{
    font-size: 3.3rem;
}

.scheduleDiv{
    display: flex;
    justify-content: center;
    overflow-x: clip;
    overflow-y: visible;
    
}

.innerDiv{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}


.scheduleH2Div{
    text-align: center;
    margin-top: -3rem;
}

.locationDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.scheduleH3{
    text-align: center;
    text-wrap: nowrap;
}

.pinLogoDiv{
    display: flex;
}

.pinLogo{
    width: 2.5rem;
    margin-top: -0.2rem;
}



/* media queries */

@media (max-width: 450px) {

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    /* welcome section */

    .welcomeSection{
        height: 50rem;
        background-position-y: 0cqh;
        background-size: 100% 85%;
    }

    .mainContent{
        padding-top: 6rem;
    }

    .titleCandleDiv{
        gap: 0.5rem;
    }
    .titleCandleDiv h1 , .candleDiv {
        margin-top: 1.5rem;
    }

    .invitationH1{
        font-size: 1.3rem;
    }

    .sunImgDiv img{
        width: 14rem;
        
    }
    .candleDiv img{
        width: 3rem;
    }

    .invitationDiv img{
        width: 18.5rem;
    }

    .buttonsDiv{
        gap: 2.5rem;
        margin-top: -2rem
    }

    .buttonsDiv .buttonYesLink img {
        width: 7rem
    }

    /* END of welcome section*/

    /* info section */

    .infoSection{
    background-image: url(./images/border-full.png);
    background-size: 100% 75%;
    background-position: unset;
    /* background-position-y: -1rem; */
    background-repeat: no-repeat;
    height: 65rem;

}

    .infoMainContent{
    padding-top: 7rem;
    margin-left: 0;
}
.scheduleH1{
    font-size: 2.5rem;
    margin: -1rem 0 2rem ;
}

.scheduleImg{
    max-width: 12rem;
}

.innerDiv{
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: -3rem;
}

.weddingDiv{
    flex-direction: row-reverse;
    justify-content: right;
    padding-right: 2rem;
}

.scheduleTimeDiv{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.scheduleDiv{
    flex-direction: column;
    margin-left: 2.5rem;
    justify-content: center;
    align-items: center;
}

.weddingCeremonyDiv{
    margin-left: 2rem;
}



.scheduleH2Div{
    text-align: center;
    margin-left: -1rem;
}

.locationDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
    margin-top: 1rem;
    margin-left: -1rem;
}

.scheduleH3{
    text-align: center;
    text-wrap: wrap;
    font-size: 0.8rem;
}

.pinLogoDiv{
    display: flex;
    flex-direction: row;
}

.pinLogo{
    width: 1.5rem;
    margin-top: 0.1rem;
}

}